.main {
    background:#F5F7FA;
}

.block-container{
    padding-top:1rem;
}

.stButton button{

    width:100%;

    height:55px;

    font-size:18px;

    font-weight:700;

    border-radius:12px;

    background:#0F62FE;

    color:white;
}

.stDownloadButton button{

    width:100%;

    border-radius:12px;
}